body,html{
  margin: 0;
  padding:0;
}
*{
  font-size: 14px;
}
.dis{
  color:#FF0000;
}
.edit{
  color:#5488F9;
  cursor: pointer;
}
td span{
  padding:0 10px;
}
.el-dialog__header{
  background: #3A475E;
  color: white;
}
.el-dialog__title{
  color: white;
}
